process {
    withName: 'TRIMGALORE' {
        cpus = 8
    }
}

params {
        genome_fasta             = "data/references/Mus_musculus.GRCm38.dna.primary_assembly.fa"
        transcript_fasta         = "data/references/Mus_musculus.GRCm38.cdna.all.fa"
        gtf                      = "data/references/Mus_musculus.GRCm38.102.gtf"
    }