process {
    withName: 'TRIMGALORE' {
        cpus = 8
    }
}

process {
    withName: 'SALMON_QUANT' {
        ext.args = '--libType A'
    }
}

params {
    fasta                    = "${projectDir}/data/references/Mus_musculus.GRCm38.dna.primary_assembly.fa"
    transcript_fasta         = "${projectDir}/data/references/Mus_musculus.GRCm38.cdna.all.fa"
    gtf                      = "${projectDir}/data/references/Mus_musculus.GRCm38.102.gtf"
    hisat2_build_memory      = '200.GB'
}